albumentations
asynctest
cityscapesscripts
docopt
einops
h5py
imagecorruptions
imageio
instaboostfast
kwarray
matplotlib
mmtrack
model_archiver
numpy
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
openslide_python
pandas
plotly
prettytable
pycocotools
pytorch_sphinx_theme
requests
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn
setuptools
six
SQLAlchemy
terminaltables
tqdm
ts
wandb